.input__point, .btn__point {
    width: 100px;
    padding: 0 8px;
    outline: none;
    border: none;
}
.input__point {
    color: gray;
}
.btn__point {
    background-color: gray;
    color: white;
}
.delete {
    cursor: pointer;
    background-color: crimson;
    padding: 5px;
}